
.film-card {
  max-width: 300px;
  margin-bottom: 50px; 
}
/*
.example-form {
    margin-bottom: 50px;
}*/
.film-card-grid {
  max-width: 300px;
  min-height: 750px;
  margin-bottom: 50px;
  position: relative;
}
img.img-grid {
  max-width: 350px;
  height: 550px;
}
button {
  position: absolute;
  bottom:10px;
  right:10px;
}
.film-card-list {
  width: 445px;
  height: 325px;
  margin-bottom: 50px;
  display:flex;
  justify-content: space-around;
  font-size: 14px;
  background-color: white;
  position: relative;
  padding: 25px 20px 0 0;
}
img.img-list {
  width: 250px;
  height: 350px;
  margin-right: 10px;
  
}

.film-card-list md-card-title {
  font-size: 18px;
}

.film-card-list md-card-content {
  margin-right: 35px;
}